Are expert reviewers expected to ensure media subtype semantics?

e.g. Should the following media types be required to be defined in the same specification?

```
application/foo+json
application/foo+cbor
```

This is how it is often done. e.g. RFC7231, RFC9237, RFC9264

However, this is not always the case.  e.g. RFC9200 defines application/ace+cbor and RFC9431 defines application/ace+json.  The problem with this example is that RFC9200 describes its use-case as constrained IOT devices and RFC9431 identifies itself as a profile of RFC9200 but with dependencies on TLS and MQTT.  The "+json" suffix does not give any hint about the vastly different scenarios and requirements.   It would be my expectation that these two media types would be largely interchangeable, but that does not appear to be the case and I believe that violates the spirit of structured syntax suffixes.

This question is relevant to the multiple suffixes draft because of this thread https://mailarchive.ietf.org/arch/msg/media-types/e_wfycMMrBW8bwkAehSkxWXgC_g/ where Manu Sporny identifies a situation that the multiple suffixes is aiming to address.

> There is disagreement over "application/vc" having ONE serialization,
so the W3C VCWG had to be specific regarding the type of serialization
"+ld+json". There is also a "+ld+cbor", but that might not be
registered for a number of years. There are some that want to
serialize it as "application/vc+acdc" or "application/vc+dcbor" or
"application/vc+jwt" or "application/vc+json+jwt" -- IOW, they want to
use the data model that the VCWG has produced and serialize it as
something else.

This implies that `application/vc+ld+json` will reference a specification published in the W3C and `application/vc+acdc` might be published by the IETF.  This means that not only would it be a different specification, but it would be a different change controller.

Even if there is a desire for both specifications to have the same semantics and just vary on syntax, it is impossible to guarantee that, and it would be impractical to ask the media type reviewers to verify it.  Requiring all the available structured suffixes for a media type to be described in the same document seems like the most pragmatic way we can ensure that semantics of the variants do not diverge and the spirit of the structured suffix is preserved.  There is a need for different semantics, then a different base subtype should be used.



I would expect `application/foo+bar` and `application/foo+baz` to share _some_ common thread. You suggest that htye need the same specification. I think that may be too constraining; it's common practice to have multiple documents in a set that "split up the work" between them (including, for example, HTTP).

However, at the other end of the spectrum, it would be clearly broken if these two media types were used for completely different use cases, or weren't fundamentally compatible with each other, at some level.

Defining exactly what that level is may be challenging; we may not be able to express this with a MUST, but some guidelines to the reviewers should suffice.

@mnot I would have no concern if the splitting up of the work occurred in the same working group.  My concern grows with independent groups producing the variants.  "Some common thread" doesn't feel like a high enough bar.  Imagine the contrived example of two groups independently working on the same problem and they both have a `priority` property and one chooses `1` as the highest priority and the other chooses `1` as the lowest priority.  

I think it's reasonable to expect "application/vc+..." To share these properties:

1. Issuer making claims about subjects.
2. Some ability to understand those claims in the context of registries associated with the securing mechanism ( and it's media type, if it has one).

The challenge becomes, if the registry maintainers are ensuring that, especially if multiple independent sdos are registering "application/vc+..."


... Seems that, at a minimum, new "application/vc+.." registration should have to be coordinated with existing registrations, potentially, experts could be directed to ensure this, in order to accept new entries that build on the same subtype.

What if each variant of `application/foo+...` is required to have the same change controller?

@mnot That would at least allow media type reviewers to rely on the SDO to provide some assurance that the semantics of two specifications that use the same base subtype are "equivalent".

@mnot wrote:
> What if each variant of `application/foo+...` is required to have the same change controller?

That looks slightly too restrictive to me, but only slightly so.

Imagine that somebody tried to come up with a JSON encoding of SVG. A type of image/svg+json would be a good fit. But there are many different JSON encoding for the same XML (or the same underlying semantics, anyway), so at least some coordination between the change controllers of these two would be expected.

I floated the idea of requiring the same change controller to some folks from the RATs WG, and they seemed to agree that requiring the same change controller was overly restrictive... I think @darrelmiller also found some examples where the same subtype literal had drastically different semantics which would make requiring the same change controller, not a good idea.

It appears that I have tried to propose a solution to a problem rather than getting agreement on the problem first.
RFC6838 says:
> XML in MIME [[RFC3023](https://www.rfc-editor.org/rfc/rfc3023)] defined the first such augmentation to the
>  media type definition to additionally specify the underlying  structure of that media type.
https://www.rfc-editor.org/rfc/rfc6838.html#section-4.2.8

My reading of this is that the suffix is only to "additionally" specify the structure.  It does not suggest that there can be variations in the semantics of the base subtype.

It seems we need to decide whether the semantics of a "structured syntax suffix" overrides the idea of a media type as an opaque string.


> I floated the idea of requiring the same change controller to some folks from the RATs WG, and they seemed to agree that requiring the same change controller was overly restrictive... I think @darrelmiller also found some examples where the same subtype literal had drastically different semantics which would make requiring the same change controller, not a good idea.

While it may be perceived as overly restrictive to folks creating media types, the purpose of the registry is to ensure there is a single place that developers can go to understand the semantics of a media type.  The open question is whether structured suffixes can change the semantics of the base subtype.  If that is the case then I would suggest we change the wording in RFC6838

>  I think @darrelmiller also found some examples where the same subtype literal had drastically different semantics which would make requiring the same change controller, not a good idea.

Allowing the same subtype base (or whatever terminology we end up with here) have 'drastically different semantics' is a non-starter for me; it's bad practice and likely to cause problems because people will infer things from it (and may train their machines to do so well). If some existing types are doing this, they should stop; we should not accommodate them.

Just so I understand what is being proposed here, are we are saying that IANA should accept media type registrations from any SDOs for,

```
application/pdf+yaml
application/problem+yaml
application/vcard+yaml
```
as long as they are describing a document, a problem and some contact information, and it is the responsibility of the SDO to ensure that the semantics are sufficiently similar to the specifications of existing registrations with the same subtype base?

That's not what I'm saying, no. There's a field in the template for media type registration, 'change controller.' What I'm suggesting is that it should be the same for all suffix variations of a given media type.

@mnot I realize that was your suggestion, but @OR13 and @duerst have commented that constraining the change controller is overly restrictive.

I think @duerst's concern could be addressed with language like

> If an existing type shares the same base type, the change controller for that type MUST agree to any further registrations using that base type.

... delta terminology adjustments for 'base type'.


@mnot wrote:

> I think @duerst's concern could be addressed with language like
> 
> > If an existing type shares the same base type, the change controller for that type MUST agree to any further registrations using that base type.

I thought about that. It should usually work, modulo the rare cases where a change controller "goes out of business",...


@mnot wrote:
> If an existing type shares the same base type, the change controller for that type MUST agree to any further registrations using that base type.

Yes to this. It lifts the burden from the media-types experts and places it where it should be -- with the communities/SDOs trying to manage the myriad of base subtypes and their extensions. Management of the semantics of the base subtype and all of its encodings shouldn't be the responsibility of the media-type registration experts (which is what, IIUC, @darrelmiller is concerned about).

That is not to say that the experts can be complacent during these types of registrations. A new registration has the burden of proof of demonstrating that they have buy-in from the change controller for new media types that contain structured suffixes. 

The above is fairly strict, but lifts the burden from the media-type experts and places it on the change controllers and specification authors.

If we wanted to allow multiple change controllers for a base media subtype:

We could allow different change controllers for a base media subtype plus a structured suffix, as long as all of them can agree that the new registration is acceptable. This does not speak to the different semantics of the base subtype, and we should probably add that it is expected that the semantics of the subtype matches between all variations of the structured suffix (to the degree that the change controllers fine acceptable). The registration would require a pointer to some explicit buy-in from each change controller (e.g., a resolution from each group) that would be needed as a part of the registration process. This is more complex, but allows for this division of labor between groups/SDOs if necessary.

While I'm suggesting that the above might work, it sounds more complicated than necessary. The alternative is a non-change controller can just ask the change controller to register on their behalf, which would achieve the same result and completely remove this extra check needed by the media-type experts.

I'm leaning towards @mnot's proposal, it feels like it's the simplest way to address the concern that @darrelmiller raised.

so would this then permit a change controller to block registration of items that build on a media type, e.g.
Controller A registers: `application/cool-type` then some other working group comes along and figures out a nifty encoding, or protection, or countersig, or whatever thing that build on `cool-type`.  that new group then tries to register: `application/cool-type+nifty-extension` or `application/cool-type+some-thing-the-browser-understands` 

can in that scenario the controller of `application/cool-type` block "new group" from registering?


Yes. 

>> can in that scenario the controller of `application/cool-type` block "new group" from registering?
>
> Yes.

Then there must be a path of appeal, in cases such as below —
* the controller of `application/cool-type` is defunct or otherwise unresponsive to registration requests by "new group"
* the controller of `application/cool-type` explicitly rejects registration requests by "new group"
* other cases I'm not quickly concocting

I have the same concern as Mike Prorock.  Imagine that the original group registering application/cool-type+xml believes that XML is the ONE TRUE REPRESENTATION of Cool Type objects.  Meanwhile, the marketplace as developed related more modern representations and want to register application/cool-type+json and application/cool-type+cbor.  Giving the original registrants veto power would stifle innovation.

I'm OK with them giving input to the Designated Experts, but the Designated Experts should have the final say.

If the owners can't be contacted, the reviewers can excercise their discretion.

New names are cheap; if the controllers aren't bought into a particular extension, another name can be used. That does not "stifle innovation" -- it's making sure that the agreement implicit in standards is honoured.

> Giving the original registrants veto power would stifle innovation.

I think it is a slightly different issue than stifling innovation, it is more that it will make it harder to build off of existing standards and types in a clear and repeatable way.  What will end up happening is more likely to be fragmentation and multiple names pointing back to the same item in a way that might not be apparent to later users

I see it differently: communities that don't have reasonable policies / practices regarding evolution of their formats will be routed around and their names will become irrrelevant; those that adapt well will flourish. However, they need the ability to control their destinies; if uncontrolled extension / evolution is allowed, the benefits of that governance are lost.

@mnot I understand that view for sure.  I think my concern is that a community would be able to use this to attempt to control other communities.  That seems like a bad thing to bake in.  

Sounds like this is heading towards something concrete like:

1. Registry experts are advised to discuss new entries with the related communities (previous related entries)
2. Registry experts still have the right to refuse an entry if they feel its not well aligned with the other entries

Where will this text go?

> Where will this text go?

In the upcoming registration section of the structured suffixes draft. I will draft the PR to do so.



The requirement for semantic data model alignment, Change Controller consent, and the right for the Designated Expert to reject entries has been integrated in e1b124ed616171b25e39df405b3fd64ae0c371c0.

Please let us know if this doesn't address the concerns raised in this issue.

IETF 118 outcome: change seems to be fine. Closing.